@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

.App{
  height: 100vh;
  width: 100vw;
  display: flex;
}

.first-half{
  background-image: url(/public/bg-main-desktop.png);
  background-size: cover;
  height: 100vh;
  width: 30%;
}

.second-half{
  height: 100vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}


form{
  display: inline-grid;
  width: auto;
  height: auto;
  align-items: center;
}

label{
  font-size: 10px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 4px;
}

.inputs{
  height: 38px;
  width: 280px;
  font-size: medium;
  letter-spacing: 1px;
  border-radius: 6px;
  padding-left: 8px;
  margin: 0 0 2px 0;
  border: 1px rgba(170, 163, 163, 0.651) solid ;
}

.err {
  border: 1px red solid;
  outline: none;
  
}

.dateContainer{
  display: flex;
  flex-direction: column;
  width: 138px;
  height: auto;
}

.dateCvcLabel{
  margin: 0 0 4px;
  height: 11px;
}

.dateInnerContainer{
  display: flex;
  justify-content: space-between;
}

.dateinputs{
  width: 65px;
  height: 38px;
  border-radius: 6px;
  border: 1px rgba(170, 163, 163, 0.651) solid ;
  margin: 0 0 2px 0;
  text-align: center;
}

.dateerr{
  border: red 1px solid;
  outline: none;
}

.dateNdCvcContainer{
  display: flex;
  height: auto;
  margin: 8px 0 0 0;
}

.cvcContainer{
  height: auto;
  margin-left: 10px;
}

.cvcInnerContainer{
  display: flex;
  flex-direction: column;
}

.cvcinput{
  width: 132px;
  height: 38px;
  border-radius: 6px;
  border: 1px rgba(170, 163, 163, 0.651) solid ;
  margin: 0 0 2px 0;
  text-align: center;
}

.cvcerr{
  border: 1px red solid;
  outline: none;
}

.error{
  color: red;
  font-size: small;
}

::placeholder{
  padding: 4px 0 4px 10px;
  font-size: 14px;
  color: rgba(170, 163, 163, 0.651);
}

.btn{
  color: white;
  background-color: hsl(278, 68%, 11%);
  height: 38px;
  width: 280px;
  border-radius: 6px;
  border: none;
  margin-top: 16px;
}

.thanks{
  text-align: center;
  margin: 0 0 20px;
}

.checkMark{
  width: 61px;
  height: 61px;
  margin: 0 auto 20px auto ;

}

.thankyou{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-front{
  background-image: url(/public/bg-card-front.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  z-index: 3;
  height: 200px;
  width: 360px;
  position: fixed;
  margin: 120px 0 0 180px;
  box-shadow: 10px 10px 30px 2px rgba(130, 130, 130, 0.247);
  padding: 20px;
}

.card-back{
  background-image: url(/public/bg-card-back.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  border-radius: 8px;
  z-index: 4;
  height: 200px;
  width: 360px;
  position: fixed;
  margin: 340px 0 0 260px;
  box-shadow: 10px 10px 30px 2px rgba(130, 130, 130, 0.247);
}

.circle-container{
  display: flex;
  align-items: center;
}

.circle-one{
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
}

.circle-two{
  height: 20px;
  width: 20px;
  border: 0.5px white solid;
  border-radius: 50%;
  margin-left: 14px;
}

.card-num{
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 4px;
  color: white;
  margin: 54px 0 20px 0;
}

.name-expd{
  display: flex;
  color: white;
  justify-content: space-between;
  letter-spacing: 1px;
}

.cvv-number{
  display: flex;
  justify-content: flex-end;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  margin: 92px 40px 0 0;
}

@media all and (min-width: 2560px) {

label{
  font-size: 30px;
}

.inputs{
  height: 88px;
  width: 680px;
  padding: 10px;
  font-size: 28px;
  border-radius: 12px;
}

::placeholder{
  padding: 8px 0 8px 14px;
  font-size: 28px;
}

.dateCvcLabel{
  height: 33px;
  margin-bottom: 10px;
}
  
.dateContainer{
  width: 338px;
}

.dateinputs{
  width: 160px;
  height: 88px;
  border-radius: 12px;
  font-size: 28px;
}

.cvcinput{
  width: 332px;
  height: 88px;
  font-size: 28px;
  border-radius: 12px;
}

.btn{
  height: 88px;
  width: 680px;
  border-radius: 12px;
  font-size: 30px;
}

.card-front{
  border-radius: 20px;
  height: 400px;
  width: 660px;
  margin: 280px 0 0 380px;
  padding: 60px;
}

.card-back{
  border-radius: 20px;
  height: 400px;
  width: 660px;
  margin: 720px 0 0 490px;
  padding: 60px;
  }

  .circle-one{
  height: 80px;
  width: 80px;
}

.circle-two{
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

.card-num{
  font-weight: bold;
  font-size: 34px;
  letter-spacing: 4px;
  margin: 104px 0 40px 0;
}

.name-expd{
  font-size: 24px;
}

.cvv-number{
  font-size: 28px;
  margin: 122px 10px 0 0;
}

.thanks{
  margin: 0 0 40px;
  font-size: 34px;
}

.checkMark{
  width: 140px;
  height: 140px;
  margin: 0 auto 40px auto ;
}

}


@media all and (max-width: 1200px){

  .card-front{
    margin: 118px 0 0 98px;
  }
  
  .card-back{
    margin: 368px 0 0 198px;
  }
}

@media all and (max-width: 1024px){

  .card-front{
    height: 158px;
    width: 272px;
    margin: 104px 0 0 98px;
  }
  
  .card-back{
    height: 158px;
    width: 272px;
    margin: 280px 0 0 160px;
  }

  .circle-one{
    height: 30px;
    width: 30px;
  }
  
  .circle-two{
    height: 12px;
    width: 12px;
    margin-left: 10px;
  }

  .card-num{
    font-size: 12px;
    margin: 32px 0 16px 0;
    letter-spacing: 3.5px;
  }
  
  .name-expd{
    font-size: 11px;
  }
  
  .cvv-number{
    font-size: 11px;
    margin: 70px 26px 0 0;
  }
}

@media all and (max-width: 768px){

  .App{
    display: flex;
  }

  .first-half{
    height: 100vh;
    width: 30%;
  }
  
  .second-half{
    height: 100vh;
    width: 70%;
  }

  .card-front{
    z-index: 3;
    position: fixed;
    border-radius: 4px;
    height: 158px;
    width: 272px;
    margin: 105px 0 0 25px;
    padding: 20px;
  }
  
  .card-back{
    z-index: 4;
    height: 158px;
    border-radius: 4px;
    width: 272px;
    margin: 280px 0 0 56px;
  }

  .circle-one{
    height: 30px;
    width: 30px;
  }
  
  .circle-two{
    height: 12px;
    width: 12px;
    margin-left: 10px;
  }

  .card-num{
    font-size: 12px;
    margin: 32px 0 16px 0;
    letter-spacing: 3.5px;
  }
  
  .name-expd{
    font-size: 11px;
  }
  
  .cvv-number{
    font-size: 11px;
    margin: 70px 26px 0 0;
  }
}

@media all and (max-width: 425px){

  .App{
    display: grid;
  }

  .first-half{
    height: 40vh;
    width: 100%;
  }
  
  .second-half{
    height: 60vh;
    width: 100%;
  }

  .card-front{
    z-index: 4;
    position: fixed;
    border-radius: 4px;
    height: 142px;
    width: 254px;
    margin: 105px 0 0 53px;
  }
  
  .card-back{
    z-index: 3;
    height: 142px;
    border-radius: 4px;
    width: 254px;
    margin: 25px 0 0 120px;
  }

  .circle-one{
    height: 30px;
    width: 30px;
  }
  
  .circle-two{
    height: 12px;
    width: 12px;
    margin-left: 10px;
  }

  .card-num{
    font-size: 12px;
    margin: 24px 0 16px 0;
    letter-spacing: 3.5px;
  }
  
  .name-expd{
    font-size: 11px;
  }
  
  .cvv-number{
    font-size: 11px;
    margin: 62px 26px 0 0;
  }
}

@media all and (max-width: 375px){

  .App{
    display: grid;
  }

  .first-half{
    height: 40vh;
    width: 100%;
  }
  
  .second-half{
    height: 60vh;
    width: 100%;
  }

  .card-front{
    z-index: 4;
    position: fixed;
    border-radius: 4px;
    height: 142px;
    width: 254px;
    margin: 105px 0 0 42px;
  }
  
  .card-back{
    z-index: 3;
    height: 142px;
    border-radius: 4px;
    width: 254px;
    margin: 25px 0 0 80px;
  }

  .circle-one{
    height: 30px;
    width: 30px;
  }
  
  .circle-two{
    height: 12px;
    width: 12px;
    margin-left: 10px;
  }

  .card-num{
    font-size: 12px;
    margin: 24px 0 16px 0;
    letter-spacing: 3.5px;
  }
  
  .name-expd{
    font-size: 11px;
  }
  
  .cvv-number{
    font-size: 11px;
    margin: 62px 26px 0 0;
  }
}

@media all and (max-width: 320px){

  .App{
    display: grid;
  }

  .first-half{
    height: 40vh;
    width: 100%;
  }
  
  .second-half{
    height: 60vh;
    width: 100%;
  }

  .card-front{
    z-index: 4;
    position: fixed;
    border-radius: 4px;
    height: 142px;
    width: 254px;
    margin: 105px 0 0 10px;
    padding: 20px;
  }
  
  .card-back{
    z-index: 3;
    height: 142px;
    border-radius: 4px;
    width: 254px;
    margin: 25px 0 0 56px;
  }

  .circle-one{
    height: 30px;
    width: 30px;
  }
  
  .circle-two{
    height: 12px;
    width: 12px;
    margin-left: 10px;
  }

  .card-num{
    font-size: 12px;
    margin: 24px 0 16px 0;
    letter-spacing: 3.5px;
  }
  
  .name-expd{
    font-size: 11px;
  }
  
  .cvv-number{
    font-size: 11px;
    margin: 62px 26px 0 0;
  }
}
